body {
    background-image: url('taskBoard.jpg');
    background-size: cover;
    background-position: center;

  
}

h1 {
    font-family: 'Baloo 2';
    font-weight: bold;
    text-align: center;
}


.newTask {
    
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 119);
    text-align: center;
    width: 200px;
    height: 180px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadeIn 1s ease-in-out;
    position: relative;
    
}

@keyframes fadeIn {
    from {
      opacity: 0;
    
    }
    to {
      opacity: 1;
     
    }
  }



.contents{
    font-size: 16px;
    overflow-y: auto;
    max-height: 120px;
    overflow-x: hidden;
    margin-bottom: 10px;
}
.timeDate {
    font-size: 0.8em;
    color: #777;
    position: absolute;
    left: 8px;
    bottom: 8px;
    

}
.icon {
    cursor: pointer;
    margin-left: 10px;
}
#addTheTasks {
    margin-top: 20px;
}
.addTheTasks{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    flex-direction: row;
}
#taskForm{
    width: 60%;
    background-image: url('lines.jpg');
    background-size: cover;
    padding:40px;
   
}

.fa-times{
color:red;
position: absolute;
top: 8px;
left: 8px;
cursor: pointer;

    display: none;
}

.newTask:hover .fa-times {
    display: block;
}